*{ Lorem Ipsum
    width: 228px
    height: 44px
    top: 25px
    left: 606px

    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    
    background: #000000;
}

{
    
}

